.btn-s{
    background: $secondary;
    color: $primary;
    padding: .5rem;
    border-radius: 16px;
    &.active,
    &:hover{
        background: $tertiary;
        color: $accent;
    }

}
.btn-L{
    background: $primary;
    color: $white;
    font-size: $h5-font-size;
    font-weight: bold;
    padding: 1rem 4rem;
    border-radius: 8px;
    &.active,
    &:hover{
        background: $tertiary;
        color: $accent;
    }
    @include media-breakpoint-up(lg) {
        font-size: $h4-font-size;
        border-radius: 16px;
        
    }
}