.en-font {
    font-family: "Montserrat", sans-serif;
}


body {
    font-family: "Montserrat", "Noto Sans TC", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 0.04em;
}

p {
    letter-spacing: 0.04em;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: inherit;
    display: inline-block;
}

